.login_top_bar {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.sidebar {
  min-height: 100vh;
  width: 30%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100;
  display: none;
  background-color: #fff;
  padding: 20px;
  animation-name: slideIn;
  animation-duration: 0.4s;
}
.sidebar-visible {
  display: block;
  min-height: 100vh;
  width: 30%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

@keyframes slideIn {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
